.course_pivot {
    width: 264px;
    height: calc(100% - 38px);
    border: solid 1px silver;
    margin-top: 4px;
}

.course_pivot.wide {
    min-width: 300px;
    width: 100%;
}

.listviewpivotitem.win-pivot-item .win-pivot-item-content {
    /* Stretch across the whole width of the screen so the whole thing is pannable.*/
    padding: 0;
    margin: 0;
    width: 100%;
}

.win-listview {
    height: 100%;
}

.course_pivot .win-listview .win-container {
    padding: 0 0 20px 0;
}

.course_pivot .win-listview .win-itembox {
    background-color:transparent;
}

.course_pivot .win-listview .win-item {
    margin: 0 20px 0 0;
    width: calc(100% - 20px);
}

.course_pivot .win-listview.win-rtl .win-item {
    margin: 0 0 0 20px;
}

/* Mail item template CSS */
.mailItem h2 {
    line-height: 1.3;
}
.mailItem h3 {
    font-size: 2vw;
}
.mailItem h5 {
    font-size: 1.2vw;
}

.mailItem {
    /*display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 20px;*/
    text-align: left !important;
    text-indent: 0em !important;
    background-color: #60B9CE;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
    padding-right: 5px;
    padding-left: 2px;
    padding-bottom: 2px;

}
.mailItem:hover {
    background-color:background-color: #FFDAB9;
}
.author {
    white-space: nowrap;
    overflow: hidden;
    -ms-flex: 3;
    -webkit-flex: 3;
    flex: 3;
}
.title h5 {
    font-size:1vw;
}
.mailItem .title {
    font-weight: 500;
    margin-top: -4px;
    white-space: nowrap;
    overflow: hidden;
    -ms-flex: 1 100%;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.mailItem .previewText {
    margin-top: -4px;
    /* 255 * 0.6 = 153 */
    color: rgb(153,153,153);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    -ms-flex: 1 100%;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.mailItem .time {
    margin-bottom: 4px;
    font-weight: 300;
    -ms-flex: 1 auto;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    text-align: right
}
.win-listview ._win-dynamic-containersize-2 .win-container {
    width: auto;
    height: auto;
}
.textmessage h3 {
    font-size:2vw;
}
.textmessage div {
    font-size: 1.5vw;
}